<button type="button" class="btn btn-primary float-end m-2" 
data-toggle="modal" data-target="#newMaterialModal"
(click)="newClick()"
data-backdrop="static" data-keyboard="false">
    element nou
</button>

<div class="modal fade" id="newMaterialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMaterialModalLabel">
            Adauga element nou </h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-addsfmodulara [cme]="cme" *ngIf="ActivateAddMetalComp">
            </app-addsfmodulara>
            
        </div>
      </div>
    </div>
  </div>

  <!-- scoate material modal -->
  <div class="modal fade" id="removeMaterialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning" >
          <h5 class="modal-title" id="removeMaterialModalLabel">            

                predare preluare</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-editsfmodulara [cme]="cme" *ngIf="ActivateEditMetalComp">
            </app-editsfmodulara>
            
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped">
    
    <thead>
        <tr>
            <th>Nume</th>
            <th>Cantitatea</th>
            <th>Locatie</th>
            <th>Optiuni</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dataItem of MetalicList"  >
            <td>{{dataItem.SchelaFatadaModularaName}}</td>
            <td>{{dataItem.SchelaFatadaModularaCantitate}} </td>
            <td>{{dataItem.Location}} </td>

            <td>
              <button type="button" class="btn btn-success" (click)="predarecofrag(dataItem)" data-toggle="modal" data-target="#removeMaterialModal">
                vezi optiuni
             </button> 
            </td>


        </tr >
    </tbody>
</table>

   