
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/__init__.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0025_mijloacefixes.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0024_historiescheles_directie.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0023_cofrajmetalics_location_cofrajttipdokas_location_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0022_cofrajmetalics_cofrajttipdokas_combustibils_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0021_alter_consumables_materialamount_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0020_remove_materials_billnumber_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0019_rename_workfield_workfield_workfieldid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0018_rename_toolid_unfunctional_unfunctionalid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0017_rename_workfieldid_workfield_workfield.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0016_shed_unfunctional_workfield_tools_provider.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0015_histories_giverecive_histories_pieces.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0014_tools_mainlocation_tools_pieces.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0013_materials_typeofunityofmesurment.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0012_materials_billnumber_materials_unityofmesurment_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0012_materials_billnumber_materials_unityofmesurment_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0011_remove_users_usernameserie_users_nameandserie.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0009_consumables_userserie_histories_userserie_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0010_remove_consumables_userserie_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0008_consumables_giverecive_consumables_materialamount_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0007_consumables_materials_dateofgiving_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0006_alter_materials_materialprice.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0005_alter_materials_amount_alter_materials_quantity.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0004_materials.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0003_histories_toolserie_tools_detail.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0002_rename_userid_users_userid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0001_initial.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/views.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/urls.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/serializers.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/models.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/apps.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/admin.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/__init__.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/wsgi.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/urls.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/settings.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/__init__.cpython-311.pyc



# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history