
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/__init__.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0025_mijloacefixes.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0024_historiescheles_directie.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0023_cofrajmetalics_location_cofrajttipdokas_location_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0022_cofrajmetalics_cofrajttipdokas_combustibils_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0021_alter_consumables_materialamount_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0020_remove_materials_billnumber_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0019_rename_workfield_workfield_workfieldid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0018_rename_toolid_unfunctional_unfunctionalid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0017_rename_workfieldid_workfield_workfield.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0016_shed_unfunctional_workfield_tools_provider.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0015_histories_giverecive_histories_pieces.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0014_tools_mainlocation_tools_pieces.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0013_materials_typeofunityofmesurment.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0012_materials_billnumber_materials_unityofmesurment_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0012_materials_billnumber_materials_unityofmesurment_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0011_remove_users_usernameserie_users_nameandserie.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0009_consumables_userserie_histories_userserie_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0010_remove_consumables_userserie_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0008_consumables_giverecive_consumables_materialamount_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0007_consumables_materials_dateofgiving_and_more.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0006_alter_materials_materialprice.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0005_alter_materials_amount_alter_materials_quantity.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0004_materials.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0003_histories_toolserie_tools_detail.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0002_rename_userid_users_userid.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/migrations/__pycache__/0001_initial.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/views.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/urls.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/serializers.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/models.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/apps.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/admin.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/ToolApp/__pycache__/__init__.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/wsgi.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/urls.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/settings.cpython-311.pyc
Inventory-and-bill-proccesor-main/dataAPI/dataAPI/__pycache__/__init__.cpython-311.pyc
