# Python/Django
**/__pycache__/
*.py[cod]
*.log
.venv/
Inventory-and-bill-proccesor-main/dataAPI/db.sqlite3
Inventory-and-bill-proccesor-main/dataAPI/staticfiles/

# Node/Angular
node_modules/
dist/
Inventory-and-bill-proccesor-main/FE/**/node_modules/
Inventory-and-bill-proccesor-main/FE/**/dist/

# OS
.DS_Store

# build prod copiat pe server
angular/



# Secrets
Inventory-and-bill-proccesor-main/dataAPI/.env
Inventory-and-bill-proccesor-main/FE/newface/proxy.conf.json
Inventory-and-bill-proccesor-main/FE/newface/angular.json
Inventory-and-bill-proccesor-main/FE/newface/angular.json
Inventory-and-bill-proccesor-main/FE/newface/proxy.local.json
Inventory-and-bill-proccesor-main/dataAPI/\# afișează cheia publică
Inventory-and-bill-proccesor-main/dataAPI/\# afișează cheia publică.pub
Inventory-and-bill-proccesor-main/dataAPI/.DS_Store
Inventory-and-bill-proccesor-main/dataAPI/media/~$model_xcel_pontaj.xlsx
