<div class="modal fade" id="ToolToService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Service unealta</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-service-operations [unf]="unf" *ngIf="ActivateToolToService">
          </app-service-operations>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ToolToShed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Unealta a fost reparata</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-unfunctional-to-shed [unf]="unf" *ngIf="ActivateToolToShed">
          </app-unfunctional-to-shed>
      </div>
    </div>
  </div>
</div>

<h3>
    Uneltele nefunctionale
</h3>
<table class="table table-striped">
      
    <thead>
        
        <tr>
            <th>Serie</th>
            <th>Nume echipament</th>
            <th>Producator</th>
            <th>Componente</th>
            <th>Detalii</th>
            <th>Bucati</th>
            <th>Status</th>
            <th>Service</th>
            <th>Detalii service</th>
            <th>S-a reparat</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ServiceList"  >

            <td>{{dataItem.ToolSerie}}</td>
            <td>{{dataItem.ToolName}}</td>
            <td>{{dataItem.Provider}}</td>
            <td>{{dataItem.Components}}</td>
            <td>{{dataItem.Detail}}</td>
            <td>{{dataItem.Pieces}}</td>
            <td>{{dataItem.Status}}</td>
            <td>{{dataItem.Service}}</td>
            <td>   
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ToolToService"(click)="toolToService(dataItem)">
                service
              </button>

            </td>
            <td>        
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ToolToShed" (click)="toolToShed(dataItem)">
              S-a reparat
            </button>
          </td>

        </tr >
    </tbody>
</table>