<div class="predare">
    <div class="searchbox">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="dimgray" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="text" placeholder="căutare">
    </div>
    <div class="predare-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume materiale</th>
                    <th>Cantitate</th>
                    <th>Actiune</th>
                </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let dataItem of ToolList; index as i">
                <tr>
                    <th class="insideth" scope="row">{{dataItem.MaterialName}}</th>
                    <td>{{dataItem.MaterialName}}</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i">Alege <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                          </svg></button>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="collapse-row">
                        <div [attr.id]="'collapse-' + i" class="container collapse out">
                            <div class="row">
                                <h4 class="col">Cantitate predata</h4> 
                                <input type="text" name="" class="col">
                                <button class="col btn btn-success" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i">Predare </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
         </tbody>
        </table>
    </div>
</div>
