<div class="predare">
    <div class="searchbox">
        <span class="material-symbols-rounded search-icon" aria-hidden="true">search</span>
        <input type="text" placeholder="căutare">
    </div>
    <div class="predare-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume materiale</th>
                    <th>Cantitate</th>
                    <th>Actiune</th>
                </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let dataItem of ToolList; index as i">
                <tr>
                    <th class="insideth" scope="row">{{dataItem.MaterialName}}</th>
                    <td>{{dataItem.Quantity}}</td>
                    <td>
                        <button (click)="modalunelte(dataItem)" class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i">Alege <span class="material-symbols-rounded" aria-hidden="true">expand_more</span></button>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="collapse-row">
                        <div [attr.id]="'collapse-' + i" class="container collapse out">
                            <div class="row">
                                <h4 class="col">Cantitate predata</h4> 
                                <input type="text" name="" [(ngModel)]="RemoveQuantity"   class="col">
                                <button class="col btn btn-success"(click)="updateToolOne()"  type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i">Predare </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
         </tbody>
        </table>
    </div>
</div>
