/* You can add global styles to this file, and also import other style files */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17a
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.table>:not(caption)>*>* {
    border-bottom: none;
}

/*---------- modal content ----------*/
.searchbox {
    position: relative;
}
.searchbox svg {
    position: absolute;
    left: 10px;
    top: 30%;
}
.searchbox input{
    width:100%;
    padding: 7px;
    padding-left: 30px;
    color: dimgray;
    outline: none;
}
.searchbox input::placeholder {
    font-size: 13px;
}

/*---------- table ----------*/
.predare-table {
    margin-top: 30px;
    
}
.predare-table th{
    padding:15px 7px;
}

.predare-table  td {
    padding: 7px;
    font-size: 13px;
    margin-bottom: none;
}
.predare-table button{
    padding: 7px 7px 7px 12px;
    font-size: 13px;
}
.row {
    padding: 7px 40px 7px 0;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.row h4, .insideth {
    font-size: 13px;
    width: fit-content;
}
.collapse-row input {
    font: 13px;
    padding: 7px 20px ;
}
.collapse-row button {
    width: min-content !important;
    padding: 7px 20px;
}
.col {
    flex: none ;
    width: min-content;
}

/* Sets button text when clicked. Should combine these later with wildcards */
#subs-table .btn-primary:before {
    content:'Click for details';
}
#subs-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}
/* Styling of the collapsible row */
#subs-table td.collapse-row {
    border-style: none;
    padding: 0;
}