<body>
    <!--- *ngIf="allowthischeck" -->

<!-- Move the button for toggling the menu outside the sidebar -->
<button (click)="toggleMenu()" class="hamburger-btn">
    <span class="hamburger-icon"></span>
</button>

<!-- Wrap the existing sidebar content with a new nav element -->
<nav class="sidebar" [ngClass]="{'open': isMenuOpen}">
    <h1 (click)="seeMagazie()">Magazie</h1>
    <div class="pages">
        <h5 class="page-on" (click)="seeAngajati()">Angajați</h5>
        <h5 (click)="seeMateriale()">Materiale</h5>
        <h5 (click)="seeUnelte()">Unelte</h5>
        <h5 (click)="seeSchela()">schela</h5>
        <h5 (click)="seeIstoric()">Istoric</h5>
    </div>
    <p style="display:flex; margin-top: 400px;">Utilizator: {{loginname}}</p>
</nav>


    <section class="pages-content">
        <div class="searchbox">

            <button *ngIf="allowthischeck"type="button" class="btn btn-success btnAdd" data-toggle="modal" data-target="#addAngajatModal"
                (click)="addClick()" data-backdrop="static" data-keyboard="false"><img src="./../../../assets/media/icons/plus-circle.svg" alt="">
                Adauga Angajat
            </button>
            <button (click)="toggleScanner()" class="btn btn-warning">Scaneaza angajat</button>
        </div>


        <!-- angajati.component.html -->


<ng-container *ngIf="showScanner">
    <zxing-scanner [formats]="[qrCodeFormat]" (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
</ng-container>

        <div class="angajati">
            <div class="tag" *ngFor="let dataItem of UserList" >
                <div class="info">
                    <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                    <div class="nameBtn">
                        <h6>{{dataItem.UserName}}</h6>
                    </div>
                    
                </div>
                <div class="buttons">
                    <button #userButton (click)="modalunelte(dataItem)" type="button" class="unelte" data-toggle="modal" data-target="#modalUnelte"><img src="./../../../assets/media/icons/unelte.svg" alt="" > Unelte</button>
                    <!-- <button (click)="modalmaterial(dataItem)" type="button"  class="materiale" data-toggle="modal"
                        data-target="#modalMateriale"><img src="./../../../assets/media/icons/materiale.svg" alt="">materiale</button>-->
                    <button  (click)="modalshecla(dataItem)" type="button" class="schela" data-toggle="modal" data-target="#modalSchela"  ><img src="./../../../assets/media/icons/schela.svg" alt="">schela</button>
                </div>
                <button type="button" class="stergebtn btn btn-danger" (click)="deleteClick(dataItem)"> <img src="./../../../assets/media/icons/trash.svg" alt=""  > Sterge</button>
            </div>

        </div>

    </section>

    <!-- Modal Adauga Angajat -->
    <div class="modal fade" data-backdrop="static" id="addAngajatModal" tabindex="-1" role="dialog" aria-labelledby="modaladdAngajatModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaladdAngajatModal">Adauga Angajat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bodyaddangaj">
                    <label for="">Nume angajat</label>
                    <input [(ngModel)]="UserName" type="text" placeholder="Nume si prenume"> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
                    <button type="button" (click)="addUser()" class="btn btn-primary" data-dismiss="modal" >Salvează</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Unelte -->
    <div class="modal fade" data-backdrop="static" id="modalUnelte" tabindex="-1" role="dialog" aria-labelledby="modalUnelteLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUnelteLabel"><img src="./../../../assets/media/icons/unelte.svg" alt="">Unelte - {{modalTitluUsername}}</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="closemodals()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-modal-unelte *ngIf="usermodaltool"></app-modal-unelte>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="closemodals()" class="btn btn-secondary" data-dismiss="modal">Închide</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Materiale -->
    <div class="modal fade" data-backdrop="static" id="modalMateriale" tabindex="-1" role="dialog" aria-labelledby="modalMaterialeLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMaterialeLabel"><img src="./../../../assets/media/icons/materiale.svg" alt="">Materiale</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="closemodals()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-modal-materiale *ngIf="usermodalmaterial" ></app-modal-materiale>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closemodals()" data-dismiss="modal">Închide</button>
                    <button type="button" class="btn btn-primary">Salvează</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Schela -->
    <div class="modal fade" data-backdrop="static" id="modalSchela" tabindex="-1" role="dialog" aria-labelledby="modalSchelaLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSchelaLabel"><img src="./../../../assets/media/icons/schela.svg" alt="">Schela</h5>
                    <button (click)="closemodals()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-modal-schela *ngIf="usermodalschela" ></app-modal-schela>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
                    <button type="button" class="btn btn-primary">Salvează</button>
                </div>
            </div>
        </div>
    </div>

</body>