<body>
    
    <div class="searchbox">
        <input type="text" placeholder="căutare">
    </div>
    <div class="angajati">
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte" type="button" data-toggle="modal" data-target="#unelteModal">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
    </div>


    <!-- Modal Unelte-->
    <div class="modal fade" id="unelteModal" tabindex="-1" role="dialog" aria-labelledby="vizionareModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unelte</h5>
                </div>
                <div class="modal-body">
                    <div class="predare">
                        <input type="text">
                        <thead>
                            <tr>
                                <th>Nume echipament</th>
                                <th>Predare</th>
                            </tr>
                        </thead>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>