<body>
    <section class="sidebar">
        <h1>Magazie</h1>
        <div class="pages">
            <h5 class="page-on">Angajați</h5>
            <h5>Materiale</h5>
            <h5>Unelte</h5>
            <h5>schela</h5>
        </div>
    </section>
    <section class="pages-content">
    <div class="searchbox">
        <input type="text" placeholder="căutare">
    </div>
    <div class="angajati">
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button type="button" class="unelte" data-toggle="modal" data-target="#exampleModal"> Unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
        <div class="tag">
            <div class="info">
                <img src="./../../../assets/media/profile-pic.jpeg" alt="">
                <h6>Nume <br> Prenume</h6>
            </div>
            <div class="buttons">
                <button class="unelte">unelte</button>
                <button class="materiale">materiale</button>
                <button class="schela">schela</button>
            </div>
        </div>
    </div>


    <!-- Modal Unelte-->
    <div class="modal fade" id="unelteModal" tabindex="-1" role="dialog" aria-labelledby="unelteModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unelte</h5>
                </div>
                <div class="modal-body">
                    <div class="predare">
                        <input type="text">
                        <thead>
                            <tr>
                                <th>Nume echipament</th>
                                <th>Predare</th>
                            </tr>
                        </thead>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal test unelte -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-modal-unelte></app-modal-unelte>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>