<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">
            <div class="box" *ngFor="let box of shelf.boxes">{{ box }}</div>
        </div>
    </div>
</div>


<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
<div class="shelving-unit">
    <div class="shelf" *ngFor="let shelf of shelves; let i = index">
        <div class="shelf-label">Raft {{ i + 1 }}</div>
        <div class="shelf-items">

        </div>
    </div>
</div>
