<div *ngIf="ActivateModal" >

    <div class="form-froup row" >


        <label class="col-sm-2 col-form-label">Echipament cu seria</label>
        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">{{ToolSerie}}</label>
        </div>
    
        <label class="col-sm-2 col-form-label">Nume unealta</label>
        <div class="col-sm-10">
            <label class="col-sm-2 col-form-label">{{ToolName}}</label>
        </div>


        <label class="col-sm-2 col-form-label">Catre ce angajat</label>
        <div class="col-sm-10" >
           <select class="form-control" [(ngModel)]="User" style="margin: 2px;" >
               <option>--Alege--</option>
               <option *ngFor="let usrName of UsersList" >
                   {{usrName.UserName}}
               </option>
           </select>
        </div>

        <label class="col-sm-2 col-form-label">Cate unelte vei da catre {{User}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UsedPieces"
            placeholder="Introduceti cate unelte dati 1 sau mai multe"
            style="margin: 2px;">
        </div>
    
        <label class="col-sm-2 col-form-label">Data predare</label>
        <div class="col-sm-10">
            <input type="date"  [(ngModel)]="DateOfGiving" style="margin: 2px;">
        </div>

        <label class="col-sm-2 col-form-label">Pin angajat</label>
        <div class="col-sm-10">
            <input  [(ngModel)]="Pin" type="password" class="form-control" id="exampleInputPassword1" placeholder="Parola"
            style="margin: 2px;">
        </div>

        <label class="col-sm-2 col-form-label">Detali</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="Detail"
            placeholder="Introduceti detalii daca sunt"
            style="margin: 2px;">
        </div>
        

    
    
</div>

        
<button (click)="updateTool()" class="btn btn-primary">
    Schimba
</button>

</div>

<div *ngIf="ActivateAlert">
    <h2>Actiunea a fost efectuata</h2>
</div>
    