
<div *ngIf="ActivateModal" >


<div *ngIf="StillNext">


    <div class="form-froup row">

        <label class="col-sm-2 col-form-label">Furnizor</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="Provider"
            placeholder="Nume furnizor, nr de telefon"
            style="margin:2px;">
        </div>
    </div>

    <div class="form-froup row">

        <label class="col-sm-2 col-form-label">Nume material</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="MaterialName"
            placeholder="Introduceti numele materialului"
            style="margin:2px;">
        </div>

    </div>






<div class="form-froup row">
    <label class="col-sm-2 col-form-label">U.M.</label>
    <div class="col-sm-10">
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="UnityOfMesurment"
                placeholder="Introduceti UM"
                style="margin:2px;">
            </div>          
    </div>

</div>

</div>

<div *ngIf="NoNext">
    

    <div class="form-froup row" *ngIf="OneOfTheAbove">

        <label class="col-sm-2 col-form-label">In ce se masuara {{UnityOfMesurment}}</label>
        <div class="col-sm-10">

            <select class="form-control" [(ngModel)]="TypeOfUnityOfMesurment" style="margin: 2px;" >
                <option>--Alege--</option>
                <option> Kilograme </option>
                <option> Litri </option>
                <option> Metri </option>
                <option> Metricubi </option>
                <option> Suruburi </option>
               
            </select>
            <button (click)="choseAnotherOption()" class="btn btn-primary">
                Introduceti o unitate de masura noua
            </button>
        </div>
    </div>

    <div class="form-froup row" *ngIf="AnotherOption">

        <label class="col-sm-2 col-form-label">In ce se masuara</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="TypeOfUnityOfMesurment"
            placeholder="Unitate de masura {{UnityOfMesurment}}"
            style="margin:2px;">
        </div>
    </div>



    <div class="form-froup row">

        <label class="col-sm-2 col-form-label">Cat contine o {{UnityOfMesurment}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="OneUnity"
            placeholder="cate {{TypeOfUnityOfMesurment}} are o/un {{UnityOfMesurment}}"
            style="margin:2px;">
        </div>
    </div>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Numarul de {{UnityOfMesurment}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="Amount"
            placeholder="cate {{UnityOfMesurment}} se adauga" 
            style="margin: 2px;">
        </div>
    </div>




    </div>

    

    <div *ngIf="StillNext">
    <button (click)="firstNext()" *ngIf="mat.MaterialId==0" class="btn btn-primary">
        URMATORUL
    </button>
    </div>

    <div *ngIf="NoNext" >
    <button (click)="addUser()" *ngIf="mat.MaterialId==0" class="btn btn-primary">
        Adauga
    </button>
    </div>
</div>

<div *ngIf="ActivateAlert">
    <h2>Actiunea a fost efectuata</h2>
</div>