 <div *ngIf="ActivateModal">
    <label class="col-sm-2 col-form-label">Detalii status unealta</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Detail"
        placeholder="Introdu detalii despre stare" 
        style="margin: 2px;">
    </div>

    <label class="col-sm-2 col-form-label">Cate bucati au fost reparate</label>
    <div class="col-sm-10" >
    <select class="form-control" [(ngModel)]="UsedPieces" style="margin: 2px;" >
        <option>--Alege--</option>
        <option *ngFor="let usrName of PieceList" >
            {{usrName}}
        </option>
    </select>
    </div>


    <button (click)="updateTool()" class="btn btn-primary">
        Schimba
    </button>
</div>

<div *ngIf="ActivateAlert">
    <h2>Actiunea a fost efectuata</h2>
</div>
    
