<div class="all-btns">
    <button id="1" class="first" (click)="cofrajmetalic()">Cofraj metalic</button>
    <button id="2" (click)="cofrajDoca()">Cofraj doka</button>
    <button id="3" (click)="Popibtn()">Popi</button>
    <button id="4" (click)="Susoara()">Schela usoara</button>
    <button id="5" (click)="Sfatafa()">Schela fatada</button>
    <button id="6" (click)="Mdulara()">S.F. modulara</button>
    <button id="7" class="last" (click)="mfixe()">Mijloace fixe</button>
</div>

<div class="btns-contents btn1" *ngIf="cofMet">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn2" *ngIf="cofDoca">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn3" *ngIf="Popi">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn4" *ngIf="SUsoara">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn5" *ngIf="SFatada">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn6" *ngIf="Modulara">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>

<div class="btns-contents btn7" *ngIf="Mfixe">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
        <div class="download-btn"><button  type="button" class="btn btn-primary btnAdd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>Descarcă Istoric</button></div>
    </div>

</div>