<div class="all-btns">
    <button id="1" class="first" (click)="cofrajmetalic()">Cofraj metalic</button>
    <button id="2" (click)="cofrajDoca()">Cofraj doka</button>
    <button id="3" (click)="Popibtn()">Popi</button>
    <button id="4" (click)="Susoara()">Schela usoara</button>
    <button id="5" (click)="Sfatafa()">Schela fatada</button>
    <button id="6" (click)="Mdulara()">S.F. modulara</button>
    <button id="7" class="last" (click)="mfixe()">Mijloace fixe</button>
</div>
<div class="btns-contents btn1" *ngIf="cofMet">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn2" *ngIf="cofDoca">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn3" *ngIf="Popi">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn4" *ngIf="SUsoara">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn5" *ngIf="SFatada">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn6" *ngIf="Modulara">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>
<div class="btns-contents btn7" *ngIf="Mfixe">
    <div class="schela-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nr. ordine</th>
                    <th>Nume angajat</th>
                    <th>Nume schela</th>
                    <th>Actiune</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tbody>
        </table>
    </div>

</div>