<h3>Toate uneltele
  <button type="button" class="btn btn-primary m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false">
    Adauga unealta
  </button>

</h3>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-tol [tol]="tol" *ngIf="ActivateAddEditTolComp">
            </app-add-edit-tol>
            
        </div>
      </div>
    </div>
  </div>
   
  

  <div class="d-flex flex-row" style="margin: 12px;">
    <input [(ngModel)]="ToolNameFilter" class="form-control"
    (keyup)="FilterFn()" placeholder="Cauta echipament">
  </div>   
  

<div>
  

  <table class="table table-striped" 
  > 
      <thead>
          
          <tr>
              <th>Serie</th>
              <th>Nume echipament</th>
              <th>Furnizor</th>
              <th>Componente aditionale</th>
              <th>Numar bucati</th>
              <th>Sterge</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dataItem of ToolList"  >

              <td>{{dataItem.ToolSerie}}</td>
              <td>{{dataItem.ToolName}}</td>
              <td>{{dataItem.Provider}}</td>
              <td>{{dataItem.Detail}}</td>
              <td>{{dataItem.Pieces}}</td>
              <td>
                <button (click)="deleteClick(dataItem)">
                  sterge
                </button>
              </td>
              

          </tr >
      </tbody>
  </table>








  </div>




