<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" checked (click)="preiaCofraj()"> preda cofraj metalic 
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" (click)="predaCofraj()"> preia cofraj metalic 
    </label>
</div>


<div class="form-froup row" *ngIf="ActivateTakeCofraj">
    <div>
    <label class="col-sm-2 col-form-label">Predare {{SchelaFatadaModularaName}}</label><br>
    </div>
    <div>
    <label class="col-sm-2 col-form-label">Cine preia din magazie?</label>
    <input type="text" class="form-control" [(ngModel)]="Location"
    style="margin: 2px;" type="password">
    </div>
    <label class="col-sm-2 col-form-label">Cate bucati?</label>
    <input type="text" class="form-control" [(ngModel)]="CofrajMetalicCantitateTOGIVE"
    style="margin: 2px;">

    <button (click)="addCofrajmetalicTOWORKER()" class="btn btn-warning">
        predare
    </button>

</div>


<div class="form-froup row" *ngIf="ActivateGiveCofraj">
    <div>
    <label class="col-sm-2 col-form-label"> Preluare {{SchelaFatadaModularaName}}</label><br>
    </div>
    <div>
    <label class="col-sm-2 col-form-label">Cine preda </label>
    <input type="text" class="form-control" [(ngModel)]="CheckUser"
    style="margin: 2px;" >
    </div>
    <label class="col-sm-2 col-form-label">Cate bucati?</label>
    <input type="text" class="form-control" [(ngModel)]="CofrajMetalicCantitateTOGIVE"
    style="margin: 2px;">

    <button (click)="takeCofrajFromWorker()" class="btn btn-warning">
        predare
    </button>

</div>