<h3>
    Uneltele din santier
    <button class="btn btn-secondary float-end" onclick="window.location.href = 'http://localhost:4200/shed';">
      vezi magazie</button>
</h3>

<div class="modal fade" id="TakeFromUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Da unealta catre angajat</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-workfield-to-shed [fil]="fil" *ngIf="ActivateTakeToolFromUser">
          </app-workfield-to-shed>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row" style="margin: 12px;">
  <input [(ngModel)]="ToolNameFilter" class="form-control"
  (keyup)="FilterFn()" placeholder="Cauta echipament">
</div> 


<table class="table table-striped">
      
    <thead>
        
        <tr>
            <th>Serie</th>
            <th>Nume echipament</th>
            <th>Producator</th>
            <th>Componente</th>
            <th>Numar bucati</th>
            <th>Data</th>
            <th>Status</th>
            <th>Optiuni</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of FieldList"  >

            <td>{{dataItem.ToolSerie}}</td>
            <td>{{dataItem.ToolName}}</td>
            <td>{{dataItem.Provider}}</td>
            <td>{{dataItem.Components}}</td>
            <td>{{dataItem.Pieces}}</td>
            <td>{{dataItem.DateOfGiving}}</td>
            <td>{{dataItem.Status}}</td>
            <td>   
                    
                      <button type="button" class="btn btn-success" (click)="TakeToolFromUser(dataItem)"  data-toggle="modal" data-target="#TakeFromUser">
                        Preluare
                      </button>


            </td>

        </tr >
    </tbody>
</table>