<div class="predare">
    <div class="searchbox">
        <input type="text" placeholder="căutare" [(ngModel)]="ToolLocationFilter" (keyup)="FilterFn()">
    </div>
    <div class="magazie-table">
        <h3>În posesia</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume echipament</th>
                    <th>Locatie</th>
                    <th>Actiune</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of ToolList"  >
      
                    <td>{{dataItem.ToolName}}</td>
                    <td>{{dataItem.MainLocation}}</td>
                    <td>
                        <button type="button" class="btn btn-success"  style="margin: 3px;"  data-toggle="modal" data-target="#GiveToUser">
                            Predare
                         </button> 
                    </td>
                    
      
            </tbody>
        </table>
    </div>

    <div class="personal-table">
        <h3>În magazie</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume echipament</th>
                    <th>Locatie</th>
                    <th>Actiune</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of ToolListWithoutFilter"  >
      
                    <td>{{dataItem.ToolName}}</td>
                    <td>{{dataItem.MainLocation}}</td>
                    <td>
                        <button type="button" class="btn btn-success"  style="margin: 3px;"  data-toggle="modal" data-target="#GiveToUser">
                            Predare
                         </button> 
                    </td>
                    
      
            </tbody>
        </table>
    </div>
</div>
