<div class="predare">
    <div class="searchbox">
        <span class="material-symbols-rounded search-icon" aria-hidden="true">search</span>
        <input type="text" placeholder="căutare" [(ngModel)]="ToolNameFilter" (keyup)="FilterFn()">
    </div>
    <div class="magazie-table">
        <h3>În posesia</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume echipament</th>
                    <th style="width: 40%;">Actiune</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of ToolList"  >
      
                    <td>{{dataItem.ToolName}}</td>
                    <td>
                        <button type="button" (click)="preluareUnealta(dataItem)" class="btn btn-warning"  style="margin: 3px;"  data-toggle="modal" data-target="#GiveToUser">
                            preluare
                         </button> 
                    </td>
                    
      
            </tbody>
        </table>
    </div>

    <div class="personal-table">
        <h3>În magazie</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nume echipament</th>

                    <th style="width: 40%;">Actiune</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of ToolListmain"  >
      
                    <td>{{dataItem.ToolName}}</td>

                    <td>
                        <button type="button" (click)="predareUnealta(dataItem)" class="btn btn-success"  style="margin: 3px;"  data-toggle="modal" data-target="#GiveToUser">
                            Predare
                         </button> 
                    </td>
                    
    
            </tbody>
        </table>
    </div>
    
    <div class="load" *ngIf="timmer"> 
        <img src="./../../../../assets/media/giphy_s.gif"alt="">
    </div>
</div>


