DJANGO_SECRET_KEY=schimba-cu-o-cheie-lunga-generata-pe-server
DJANGO_DEBUG=False
DJANGO_CORS_ALLOWED_ORIGINS=https://magazie.dmxconstruction.ro,https://www.magazie.dmxconstruction.ro
DJANGO_SECURE_COOKIES=True
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=31536000
PONTAJ_PASSWORD=schimba-parola-admin-angular
