<body>
    <section class="sidebar">
        <h1 (click)="seeMagazie()">Magazie</h1>
        <div class="pages">
            <h5 (click)="seeAngajati()">Angajați</h5>
            <h5 (click)="seeMateriale()">Materiale</h5>
            <h5 class="page-on" (click)="seeUnelte()">Unelte</h5>
            <h5 (click)="seeSchela()">schela</h5>
        </div>
    </section>

    <section class="pages-content">
        <div class="searchbox">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="dimgray" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            <input type="text" placeholder="căutare">
            <button type="button" class="btn btn-success btnAdd" data-toggle="modal" data-target="#addAngajatModal"
                data-backdrop="static" data-keyboard="false"><img src="./../../../assets/media/icons/plus-circle.svg" alt="">
                Adauga Materiale
            </button>
        </div>


        <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Serie</th>
                        <th>Nume echipament</th>
                        <th>Numar bucati</th>
                        <th>Actiune</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>title</td>
                        <td>title</td>
                        <td>title</td>
                        <td>
                            <button type="button" class="btn btn-primary iconbtn" style="margin: 3px;" data-toggle="modal"
                                data-target="#GiveToUser"><img src="./../../../assets/media/icons/edit.svg" alt="">
                                editati
                            </button>
                            <button type="button" class="btn btn-danger iconbtn" style="margin: 3px;" data-toggle="modal"
                                data-target="#GiveToUser"><img src="./../../../assets/media/icons/trash.svg" alt=""> 
                                sterge
                            </button>
                        </td>
                </tbody>
            </table>
        </div>

    </section>
</body>