<body>
    <section class="sidebar">
        <h1 (click)="seeMagazie()">Magazie</h1>
        <div class="pages">
            <h5 (click)="seeAngajati()">Angajați</h5>
            <h5 (click)="seeMateriale()">Materiale</h5>
            <h5 (click)="seeUnelte()">Unelte</h5>
            <h5 (click)="seeSchela()">schela</h5>
            <h5 class="page-on" (click)="seeSchela()">Istoric</h5>
        </div>
    </section>
    <section class="pages-content">
        <div class="buttons">
            <button id="8" (click)="istMaterial()" class="first"><img src="./../../../assets/media/icons/materiale.svg" alt=""> Istoric
                Materiale</button>
            <button id="9" (click)="istUnelte()"><img src="./../../../assets/media/icons/unelte.svg" alt="">Istoric Unelte</button>
            <button id="10" (click)="istSchela()" class="last"><img src="./../../../assets/media/icons/schela.svg" alt="">Istoric Schela</button>
        </div>
        
        <div class="body-materiale" *ngIf="isMat">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nr. ordine</th>
                        <th>Nume angajat</th>
                        <th>Nume material</th>
                        <th>Cantitate</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div class="body-unelte" *ngIf="isUne">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nr. ordine</th>
                        <th>Nume angajat</th>
                        <th>Nume unealta</th>
                        <th>Actiune</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div class="body-schela" *ngIf="isSch">
            <app-h-schela></app-h-schela>
        </div>
    </section>
</body>