<body>
    <section class="sidebar">
        <h1 (click)="seeMagazie()">Magazie</h1>
        <div class="pages">
            <h5 (click)="seeAngajati()">Angajați</h5>
            <h5 (click)="seeMateriale()">Materiale</h5>
            <h5 (click)="seeUnelte()">Unelte</h5>
            <h5 (click)="seeSchela()">schela</h5>
            <h5 class="page-on" (click)="seeIstoric()">Istoric</h5>
        </div>
    </section>
    <section class="pages-content">
        <div class="buttons">
            <button id="8" (click)="istMaterial()" class="first"><span class="material-symbols-rounded" aria-hidden="true">inventory_2</span> Istoric
                Materiale</button>
            <button id="9" (click)="istUnelte()"><span class="material-symbols-rounded" aria-hidden="true">construction</span>Istoric
                Unelte</button>
            <button id="10" (click)="istSchela()" class="last"><span class="material-symbols-rounded" aria-hidden="true">account_tree</span>Istoric Schela</button>
        </div>

        <div class="body-materiale" *ngIf="isMat">
            <div class="download-btn"><button type="button" class="btn btn-primary btnAdd"><span class="material-symbols-rounded" aria-hidden="true">download</span>Descarcă Istoric</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nume angajat</th>
                        <th>Nume material</th>
                        <th>Cantitate</th>
                        <th>Data</th>

                    </tr>
                </thead>
                <tbody>

                    <ng-container>
                        <tr *ngFor="let dataItem of histList">
                            <td>{{dataItem.User}}</td>
                            <td>{{dataItem.Material}}</td>
                            <td>{{dataItem.MaterialAmount}}</td>
                            <td>{{dataItem.DateOfGiving}}</td>

                        </tr>
                    </ng-container>
                </tbody>
            </table>
            
        </div>

        <div class="body-unelte" *ngIf="isUne">
            <div class="download-btn"><button type="button" class="btn btn-primary btnAdd" (click)="downloadhistory()" ><span class="material-symbols-rounded" aria-hidden="true">download</span>Descarcă Istoric</button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nume angajat</th>
                        <th>Nume unealta</th>
                        <th>Actiune</th>
                        <th>Cine a predat</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container>
                        <tr *ngFor="let dataItem of histToolList">
                            <td>{{dataItem.User}} </td>
                            <td>{{dataItem.Tool}}</td>
                            <td>{{dataItem.GiveRecive}}</td>
                            <td>{{dataItem.Pieces}}</td>
                            <td>{{dataItem.DateOfGiving}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            
        </div>

        <div class="body-schela" *ngIf="isSch">
            <app-h-schela></app-h-schela>
        </div>
    </section>
</body>